.modal {
    z-index: 50; /* Adjust as necessary */
    width: auto; /* or any specific size */
    max-width: 90%; /* Prevents it from taking the full width on larger screens */
    height: auto; /* or any specific size */
    position: fixed; /* or absolute, depending on your layout */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto; /* Allows scrolling within the modal if content is too long */
}
.Toastify__toast--error {
    background-color: #2c3e50;
    color: #ffffff;
}
